<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="width: full; height: full; display: flex; flex-direction: column; background-color: #0F0F0F; padding: 8px;">
    
    <div style="margin: auto;">
        <h2 style="color: white">Welcome to Wingman</h2>
        <p style="color: white">Thank you for signing up! {{.Username}}</p>
        <p style="color:white">Click <a href="/login">here</a> to verify your email!</p>
    </div>

    <img style="object-fit: cover; width: full;" src="https://imagedelivery.net/-3SBNy70fiLyqKhyntW-yA/e7ab7c6f-4acb-44d1-d503-2f5e719f7f00/public"/>
</body>
</html>